<div id="top_menu_left">
	<%= link_to "Back", friends_path %> 
</div>

<div id="user_email_parrent"><span class="user_email_middle_top"><%= @current_friend.email %></span></div>

<p id = "find_friend_bookmark_indent">
	<div class="horizontal_center">
		<%= render 'find_friend_bookmark' %>
	</div>

<div id="bookmarks">
	<% if @bookmarks.size.zero? %>
		<div>No one bookmarks found!</div>
	<% else %>
		<% @bookmarks.each do |bookmark| %>

			<div class="bookmark">
				<div class="bookmark_image"><%= show_image(bookmark.preview) %></div>
				<div class="bookmark_url"><%= link_to bookmark.url, bookmark.url %></div>
			</div>

		<% end %>
	<% end %>
</div>

<div class = "apple_pagination">
	<%= will_paginate @bookmarks, :container => false %>
</div>
